
# Игнорировать файлы и папки Xcode
*.xcuserstate
*.xcuserdata
LessonsSwift.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserstate

*.xcuserstate
LessonsSwift.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
